<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>책 검색 결과</title>
</head>
<body>
	<h1>책 검색 결과</h1>
	<table>
		<thead>
			<tr style="background-color:lightgray"></tr>
		</thead>
		<tbody style="text-align:center;">
			<tr th:if="${totalResults==0}">
				<td> 해당 쿼리에 부합하는 도서 결과는 없습니다. 다시 올바르게 검색해주세요</td>
			</tr>
			<tr th:each="result: ${results}">
				<td><span style="font-weight:bold" th:text="${result.title}">Title</span></td>
				<td>
					<img th:src="@{${result.cover}}" alt="no image/">
				</td>
				<td><span th:text="${result.author}">Author</span></td>
				<td><span th:text="${result.pubDate}">Publicshed Date</span></td>
				<td><span th:text="${result.isbn}">ISBN Number</span></td>
				<td><span th:text="${result.pricesales}">Price Sales</span></td>
				<td><span th:text="${result.searchCategoryName}">Category Name</span></td>
				<td><a th:href="${result.link}">Book Info</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>